lazy-lock.json

*.swp
*.un~
.netrwhist
.php-cs-fixer.cache

# Dependency directories
node_modules/
php_modules/
backup/
swap/
undo/

# Optional npm cache directory/files
.npm
package-lock.json
composer.lock

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
